@{
    ViewData["Title"] = "Home Page";
}
@{

Layout = "~/Views/Shared/_Logistic-layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Logistic</h1>
    <h1>Shiptoboxes test releases...</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
